<!DOCTYPE html>
<html>
<head>
  <title>Firebase</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  <script>
    var Notification = window.Notification || window.mozNotification || window.webkitNotification;

    Notification.requestPermission(function (permission) {
      // console.log(permission);
    });

    function show() {
      var instance = new Notification(
        "Product added.", {
          body: "API added new product."
        }
      );

      return false;
    }
  </script>
  <script>
    var newItems = true;
    var myDataRef = new Firebase('https://pqgq8jyyfu6.firebaseio-demo.com/');

    myDataRef.on('child_added', function() {
      displayNotification();
    });

    function displayNotification() {
      show();
      myDataRef.remove();
    };
  </script>
</head>
<body>
<div class="container container-fluid">
  <%= yield %>
</div>

</body>
</html>
